* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #18191a;
}

.white {
  background-color: #ffffff;
}
.white-text {
  color: white;
}

.bright {
  color: white;
}

.mode {
  height: 1.5rem;
  width: 1.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav-logo {
  margin-left: 20px;
  text-decoration: none;
  font-size: 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 50px;
  cursor: pointer;
  align-items: center;
  margin-right: 25px;
}

.nav-anchors:link,
.nav-anchors:visited {
  text-decoration: none;
  color: #0000ed;
}

.nav-anchors:hover,
.nav-anchors:active {
  text-decoration: none;
  color: #0000ed;
  background-color: rgb(185, 206, 224);
  padding: 10px 5px;
  border-radius: 10px;
}

.w-6.h-6 {
  height: 25px;
  cursor: pointer;
}

.hire-button {
  margin-right: 30px;
  padding: 20px 80px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: chocolate;
}

.container {
  display: flex;
  height: 80vh;
}

.col {
  position: relative;
}

.col-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.col-2 {
  display: flex;
  flex: 1;
  align-items: center;
  top: -100px;
  z-index: -1;
}

.intro-text {
  text-align: center;
}

.srujan-img {
  height: auto;
  width: 500px;
  border-radius: 20px;
}

footer {
  text-align: center;
}

.hidden {
  display: none;
}
