* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.grow-list {
  left: 350px;
  position: absolute;
}

.list {
  color: rgb(161, 168, 174);
  display: flex;
  list-style: none;
  gap: 30px;
  cursor: pointer;
}
.list-item:first-child {
  color: #000;
}

.banner-container {
  display: flex;
}

.left-text {
  margin-left: 100px;
  margin-top: 100px;
}

.heading-text {
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 40px;
  color: rgb(72, 66, 78);
}

h1 span {
  color: rgb(154, 94, 226);
}

.description {
  padding-right: 60px;
  margin-bottom: 40px;
  color: rgb(161, 168, 174);
}

.btn {
  background-color: rgb(123, 63, 196);
  border: none;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.small-button {
  padding: 15px 25px;
}

.big-button {
  padding: 15px 45px;
}
